<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 style="background-color:yellowgreen">
    Bienvenue dans {{ title }}!
  </h1>
</div>
<img style="text-align:left"   width="103" alt="Angular Logo" src="https://www.toutcalculer.com/convertisseur/images/thermometre.png">
<div>
  <header id="header">
            <nav id="nav">
              <ul style="list-style: none; ">
                <li><a [routerLink]="['./convertisseur-poids/convertisseur-poids.component']">CONVERTISSEUR POIDS</a></li>
                <li><a [routerLink]="['./convertisseur-distances/convertisseur-distances.component']">CONVERTISSEUR DISTANCES </a></li>
                <li><a [routerLink]="['./convertisseur-temperature/convertisseur-temperature.component']">CONVERTISSEUR TEMPERATURES</a></li>
              </ul>
            </nav>
          </header>
</div>

<router-outlet></router-outlet>
